.t-bg {
    height: 70vh;
    width: 100%;

}

.t-bg img {
    height: 100%;
    width: 100%;
}

.left-container-ls {
    width: 40vw;
    padding: 20px 20px;
    z-index: 99;
    height: 84%;
    margin-left: 10vw;
}

.third-page {
    min-height: 100vh;
    width: 100vw;
    background-image: url("layout.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: relative;

}

.btn-th {
    height: 50px;
    margin-top: 40px;
    width: 450px;
    color: rgb(9, 7, 7);
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 700;
    color: rgb(0, 86, 121);
    border: 3px solid rgb(0, 86, 121);




}

.btn-dn {
    height: 50px;
    margin-top: 20px;
    width: 450px;
    background-color: rgb(0, 86, 121);
    color: rgb(243, 243, 243);
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 700;
    /* color: rgb(50, 70, 78); */


    /* font-family: sans-serif; */
    border: 3px solid rgb(0, 86, 121);

}

.btn-group {
    width: 100%;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;

}

.right-container-lr {
    padding: 20px 20px;


}

.right-con-th h1 {
    margin-bottom: 20px;
    color: rgb(0, 86, 121);
    font-family: sans-serif;
}

.contain-th {
    font-family: sans-serif;
    font-size: 18px;
    opacity: 0.7;
    line-height: 1.9;
}

.right-link-th {
    margin-top: 20px;
}

.right-link-th i {
    font-size: 30px;
    margin-right: 30px;
    color: rgb(0, 86, 121);
}

.right-link-th {
    font-family: sans-serif;
    font-size: 17px;
    width: 400px;
}

.right-link-th p {
    color: rgb(0, 86, 121);

    width: 80%;
    font-family: sans-serif;
    padding: 4px;
    border-bottom: 2px solid rgb(0, 86, 121);
}

.third-left {
    position: absolute;
    right: 200px;
    bottom: 17px;
}

.third-right {
    position: absolute;
    right: 150px;
    bottom: 17px;
}

.fourth-page {
    height: 100vh;
    width: 100vw;
    padding: 40px;
    padding: 100px 10vw;
    /* background-color: aliceblue; */
}

.fourth-page {
    font-family: sans-serif;
    color: gray;
}

.fourth-page h1 span {
    color: rgb(0, 86, 121);
    font-size: 45px;
}

.hr_tag {
    height: 2px;
    width: 50vw;
    background-color: gray;
    margin-top: 30px;
}

.fourth-page {
    position: relative;

}

.dimand {
    /* display: ; */
    position: absolute;
    top: 22.4vh;
    left: 14vw;
}

.dimand i {
    font-size: 60px;
    /* opacity: 0.9; */
    color: rgb(189, 189, 189);
}

.con-fourth {
    display: flex;
    height: 63vh;
    margin-top: 10vh;


}

.left-con-fourth {
    width: 60vw;
    padding-right: 50px;
    /* background-color: red; */
}

.right-con-fourth {
    width: 30vw;

}

.right-con-fourth img {
    height: 400px;
    /* margin-left: 50px; */
    width: 400px;
}

.fourth-heading {
    font-size: 35px;
    font-family: sans-serif;
    color: rgb(18, 18, 18);


}

.paraa {
    font-family: sans-serif;
    font-size: 24px;
    color: black;
    opacity: 0.7;
    word-spacing: 6px;
    line-height: 2.2;
    margin-top: 40px;
    opacity: 0.8;

}

.h1-heading-forth {
    font-size: 50px;
}

.read_more {
    margin-left: 40px;
    opacity: 1;
    border-bottom: 1px solid green;
    color: green;
}

.five-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 221, 228);
    /* background-color: rebeccapurple; */


}

.card-five {
    position: relative;
    height: 70vh;
    width: 22.4vw;
    /* padding: 10px; */
    border-radius: 12px;
    margin-left: 35px;
    /* box-shadow:  0px 0px 10px white; */
    background-color: white;
    padding: 10px 0px;
    /* background-color: brown; */
}

.card-img {
    height: 30vh;
    /* background-color: red; */
    border-radius: 12px;
    border-radius: 20px;
    margin: 0px 10px;

}

.card-img img {
    height: 100%;
    width: 100%;
    border-radius: 12px;
}


.con-btn .btn {

    height: 50px;
    width: 50%;
    /* background-color: gray; */
    border: none;
    border-right: 2px solid white;
    text-align: start;
    padding: 5px 20px;

    border-bottom-left-radius: 10px;
    background-color: rgb(50, 130, 160);

    font-family: sans-serif;
    font-size: 15px;
}

.five-card-contain p span {
    color: black;
    border-bottom: 2px solid green;
    color: green;
}

.five-card-contain h1 {
    font-size: 22px;
    font-family: sans-serif;
    color: black;

}

.five-card-contain {
    /* margin:0px 109px; */
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0.7;
}

.five-card-contain p {
    font-family: sans-serif;
    font-size: 20px;
}

.btn-s {
    height: 50px;
    width: 50%;
    font-family: sans-serif;
    font-size: 17px;
    border-radius: 0px;
    border: none;
    color: white;
    background-color: rgb(9, 65, 85);

    border-bottom-right-radius: 10px;
}

.con-btn {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;

    align-items: center;
}

.btn {
    color: white;
}

.five-card-contain p {
    margin-top: 20px;
    line-height: 25px;
}

.five-container {
    display: flex;

}

.five-container {
    width: 100%;
    display: flex;
    height: 80%;

    align-items: center;
    position: relative;
    justify-content: center;
}

.left-arrow-five {

    height: 60px;
    width: 70px;
    position: absolute;
    left: 0px;
    top: 33vh;
    background-color: black;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.right-arrow-five {
    height: 60px;
    /* height: 60vh; */
    width: 70px;
    position: absolute;
    right: 0;
    top: 33vh;
    background-color: black;
    color: white;
    font-size: 30px;
    /* padding: 15px 15px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-link{
display: inline-block;
}
/* .con-btn .btn  */
.right-container-lr {
    width: 40vw;

    z-index: 99;
    height: 84%;
}

.con-fourth {
    /* padding: 100px 150px; */
    

}